*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@media (min-width:320px){
	.left{
		display:none;
	}
	.right{
		display:none;
	}
		.main img{
	width:100%;
	height:auto;
	margin:auto;
}
}
@media (min-width:620px){
	.main img{
	width:100%;
	height:auto;
	margin:auto;
}
.left{
		display:none;
	}
	.right{
		display:none;
	}
}
@media (min-width:1000px){
	.left{
		display:block;
		position:absolute;
	    left:-12px;
	    bottom:60%;
	}
	.right{
		display:block;
		position:absolute;
	    left:28%;
	    bottom:43%;
	     z-index:4;
	}
}
.main{
	position:relative;
	z-index:3;
}
.img-box img{
	background-color:#FADCDC;
	border-radius:50%;
	padding:10px;
	text-align:center;
}
.book-box img{
	background-color:#C8F4F9;
	border-radius:50%;
	padding:10px;
	text-align:center;
}
.award-box img{
	background-color:#FADCDC;
	border-radius:50%;
	padding:10px;
	text-align:center;
}